.type {
  padding: 35px 10px 5px 15px;
  background-color: #356680;
  border-top: 3px solid #031322;
  &__form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  &__btn {
    border: none;
    background-image: url('../../assets/shared/icon-send.svg');
    width: 24px;
    height: 24px;
    position: absolute;
    right: 90px;
    background-color: transparent;
    cursor: pointer;
  }
  &__input {
    resize: none;
    border-radius: 15px;
    padding: 15px 40px 10px 25px;
    height: 60px;
    min-height: 60px;
    max-height: 80px;
    overflow-y: auto;
    max-width: 670px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline-color: #fff;
    outline-style: solid;
    &::placeholder {
      color: #356680;
      font-size: 16px;
    }
  }
}
