.user-info {
  border-bottom: 3px solid #031322;
  &__box {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  &__img {
    margin-right: 20px;
  }
  &__name {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.8px;
  }
  &__no-img {
    height: 50px;
  }
}
