.user-info {
  border-bottom: 2px solid #b1afaf;
  &__box {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  &__img {
    margin-right: 10px;
  }
  &__name {
    font-size: 25px;
    font-weight: 500;
  }
  &__no-img {
    height: 50px;
  }
}
