.sidebar {
  background-color: #356680;
  position: relative;
  border-top-left-radius: 15px;
  border: 3px solid #031322;
  border-right: none;
  height: calc(100vh - 2px);

  &__search {
    margin: 0 5px 40px 10px;
    padding: 0 5px 0 30px;
    background-image: url('shared/icon-search.svg');
    background-repeat: no-repeat;
    background-position: center left;
    &:focus + .sidebar__button {
      opacity: 1;
    }
  }
  &__button {
    opacity: 0;
    position: absolute;
    border: none;
    background-image: url('shared/icon-close.svg');
    top: 113px;
    right: 35px;
    cursor: pointer;
    width: 17px;
    height: 17px;
    background-color: transparent;
  }
  &__title {
    border-top: 3px solid #031322;
    padding-top: 35px;
    padding-left: 25px;
    font-size: 32px;
    color: #fff;
    padding-bottom: 39px;
    letter-spacing: 2px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__log-out {
    width: 120px;
    color: #356680;
    border: 2px solid #355f75;

    &:hover {
      box-shadow: 4px 4px 6px #203e4f;
    }
  }
}

.avatar {
  margin-bottom: 20px;
  margin-top: 12px;
  padding: 10px;
  width: 70px;
  height: 70px;
}

.dialogues {
  border-top: 3px solid #031322;
  border-bottom: 3px solid #031322;
  background-color: #fff;
  height: calc(100vh - 286px);
  &__list {
    overflow-y: auto;
    max-height: 100%;
  }
}

.suggestion {
  height: 400px;
  &__list {
    overflow-y: auto;
    max-height: 100%;
  }
}
