.dialogue {
  padding: 20px 10px;
  cursor: pointer;
  display: flex;
  &--receive:first-child {
    background-color: #28289c42;
    color: #fff;
  }
  &__box {
    display: flex;
    flex: 1;
  }
  &__img {
    margin-right: 10px;
    display: flex;
  }
  &__name {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.6px;
  }
  &__message {
    margin-right: 5px;
    opacity: 0.8;
    letter-spacing: 0.1px;
  }
  &__time {
    font-size: 14px;
    letter-spacing: 0.1px;
    opacity: 0.7;
  }
}
