html,
body {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #041c32;
  background-color: #c9c9c9ce;
}

.hidden {
  overflow: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
