html,
body {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #041c32;
  background-image: url('../src/assets/bg.jpg');
  background-repeat: no-repeat;
}

.hidden {
  overflow: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
