@import 'vars';
@import 'reset';

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 50px auto 50px;
  @media (max-width: 768px) {
    max-width: 689px;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 2px solid #11113e;
  border-radius: 8px;
}

.search {
  border: 2px solid rgb(176, 170, 170);
  background-color: #fff;
  width: 370px;
  height: 40px;
  border-radius: 20px;
  color: $default;
  outline-color: rgb(176, 170, 170);

  &::placeholder {
    color: rgba(0, 0, 255, 0.39);
    font-size: 15px;
    opacity: 0.8;
    font-weight: 500;
  }
  @media (max-width: 700px) {
    width: 305px;
  }
  @media (max-width: 500px) {
    width: 205px;
    height: 28px;
  }
}

.spinner {
  width: 30px;
  height: 30px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #b1afaf;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #b1afaf;
}

::-webkit-scrollbar-track {
  background-color: #e0e1e4;
}

html,
body {
  scrollbar-color: #b1afaf #e0e1e4;
  scrollbar-width: thin;
}
