@import 'vars';
@import 'reset';

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  @media (max-width: 768px) {
    max-width: 689px;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.search {
  border: 2px solid #fff;
  background-color: #fff;
  width: 370px;
  height: 40px;
  border-radius: 20px;
  color: #356680;
  outline-color: #fff;

  &::placeholder {
    color: #356680;
    font-size: 15px;
    opacity: 0.8;
  }
  @media (max-width: 700px) {
    width: 305px;
  }
  @media (max-width: 500px) {
    width: 205px;
    height: 28px;
  }
}

.button {
  border: none;
  border: 2px solid #d9edff;
  color: #339dff;
  font-size: 13px;
  text-align: center;
  line-height: 38px;
  border-radius: 100px;
  padding: 0 22px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
  width: 140px;
  margin-right: 3px;
  width: 170px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 2px 4px rgba(83, 100, 255, 0.45);
  }
}

.outline {
  background: #339dff;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 38px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 170px;
  text-align: center;
  cursor: pointer;
  border: none;
  &:disabled {
    &:hover {
      box-shadow: none;
    }
  }
  &:hover {
    box-shadow: 0 2px 4px rgba(83, 100, 255, 0.57);
  }
}

.spinner {
  width: 30px;
  height: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__input {
    background-color: #f0f0f0;
    border: none;
    margin-bottom: 20px;
    padding: 25px 10px 25px 50px;
    border-radius: 25px;
    &--email {
      background-image: url('assets/shared/icon-email.svg');
      background-repeat: no-repeat;
      background-position: center left 20px;
      z-index: 7;
    }
    &--password {
      background-image: url('assets/shared/icon-password.svg');
      background-repeat: no-repeat;
      background-position: center left 20px;
    }
    &--error {
      outline-color: #921414;
      border: 2px solid #921414;
    }
  }
}

.error {
  font-size: 13px;
  color: #921414;
  margin-top: -15px;
  margin-left: 5px;
  margin-bottom: 5px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #356680;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #356680;
}

::-webkit-scrollbar-track {
  background-color: #ffffffd5;
}

html,
body {
  scrollbar-color: #356680 #ffffffd5;
  scrollbar-width: thin;
}
